
<div class="links-container">
	<a href="/">(Home)</a>
	<a href="passengers">(Passengers)</a>
	<a href="itineraries">(Itineraries)</a>
	<a href="airports">(Airports)</a>
	<a href="crew">(Crew)</a>
	<a href="planes">(Planes)</a>
	{{!-- <a href="MtoM.html">(M:M Relationships)</a> --}}
</div>

{{!-- Create a table --}}
<table id="airport-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.departure_airport_code}}</td>
            <td>{{this.arrival_airport_code}}</td>
            <td>{{this.continent}}</td>
            <td>{{this.country}}</td>
            <td>{{this.city}}</td>

        </tr>
        {{/
        
        
        each}}
    </tbody>
</table>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h3 style: "color=blue;">Adding Data with AJAX</h3>
<p>To add a new airport, please enter their information below and click 'Submit'!</p>
<form id="add-airport-form-ajax">
    <label for="departure">Departure: </label>
    <input type="text" name="departure_airport_code" id="departure_airport_code">
    
    <label for="arrival">Arrival: </label>
    <input type="text" name="arrival_airport_code" id="arrival_airport_code">

    <label for="continent">Continent: </label>
    <input type="text" name="continent" id="continent">

    <label for="country">Country: </label>
    <input type="text" name="country" id="country">

    <label for="city">City </label>
    <input type="text" name="city" id="city">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_airport.js"></script>

