
 {{!-- NOTE:  all .js and .hbs files were modified from the starter code provided by this course --}}

{{!-- Create a table --}}
<table id="crew-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes of the crew table --}}
        {{#each data}}
        <tr>
            <td>{{this.employee_id}}</td>
            <td>{{this.plane_id}}</td>
            <td>{{this.job_type}}</td>
            <td>{{this.years_experience}}</td>
            <td>{{this.hourly_wage}}</td>
            <td>{{this.full_time}}</td>
            <td>{{this.english}}</td>
            <td>{{this.spanish}}</td>
            <td>{{this.french}}</td>
            <td>{{this.arabic}}</td>
            <td>{{this.chinese}}</td>
            <td>{{this.japanese}}</td>

        </tr>
        {{/
        
        
        each}}
    </tbody>
</table>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new crew member, please enter their information below and click 'Submit'!</p>
<form id="add-crew-form-ajax">
    <label for="plane_id">Plane ID: </label>
    <input type="number" name="plane_id" id="plane_id">
    
    <label for="job_type"> Job Type: </label>
    <input type="text" name="job_type" id="job_type">

    <label for="years_experience">Years of Experience: </label>
    <input type="number" name="years_experience" id="years_experience">

    <label for="hourly_wage">Hourly Wage: </label>
    <input type="text" name="hourly_wage" id="hourly_wage">

    <p>For the following: Enter 1 for "Yes" or 0 for "No"</p>

    <label for="full_time">Full Time: </label>
    <input type="number" name="full_time" id="full_time">

    <label for="english">English: </label>
    <input type="number" name="english" id="english">

    <label for="spanish">Spanish: </label>
    <input type="number" name="spanish" id="spanish">

    <label for="french">French: </label>
    <input type="number" name="french" id="french">

    <label for="arabic">Arabic: </label>
    <input type="number" name="arabic" id="arabic">

    <label for="chinese">Chinese: </label>
    <input type="number" name="chinese" id="chinese">

    <label for="japanese">Japanese: </label>
    <input type="number" name="japanese" id="japanese">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_crew.js"></script>

