<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, passenger id, plane_id, departure code, arrival code, cost, purchase_date, date_of_trip, flight_hour, and layover_hour, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.booking_id}}</td>
            <td>{{this.passenger_id}}</td>
		<td>{{this.plane_id}}</td>
            <td>{{this.departure_airport_code}}</td>
            <td>{{this.arrival_airport_code}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.purchase_date}}</td>
		<td>{{this.date_of_trip}}</td>
            <td>{{this.flight_hour}}</td>
            <td>{{this.layover_hour}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
       