<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, passenger id, departure code, arrival code, type, manufactured year, range capacity, passenger capacity, and meal served, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.plane_id}}</td>
            <td>{{this.passenger_id}}</td>
            <td>{{this.departure_airport_code}}</td>
            <td>{{this.arrival_airport_code}}</td>
            <td>{{this.type}}</td>
            <td>{{this.manufactured_year}}</td>
		<td>{{this.range_capacity}}</td>
            <td>{{this.passenger_capacity}}</td>
            <td>{{this.meal_served}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
    