
 {{!-- NOTE:  all .js and .hbs files were modified from the starter code provided by this course --}}

{{!-- Create a table --}}
<table id="itinerary-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.booking_id}}</td>
            <td>{{this.passenger_id}}</td>
            <td>{{this.plane_id}}</td>
            <td>{{this.departure_airport_code}}</td>
            <td>{{this.arrival_airport_code}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.purchase_date}}</td>
            <td>{{this.date_of_trip}}</td>
            <td>{{this.flight_hour}}</td>
            <td>{{this.layover_hour}}</td>

        </tr>
        {{/
        
        
        each}}
    </tbody>
</table>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h3>Adding ITINERARY Data with AJAX</h3>
<p>To add a new itinerary, please enter their information below and click 'Submit'!</p>
<form id="add-itinerary-form-ajax">
    <label for="passenger">Passenger ID: </label>
    <input type="text" name="passenger_id" id="passenger_id">
    
    <label for="plane"> Plane ID: </label>
    <input type="text" name="plane_id" id="plane_id">

    <label for="departure">Departure: </label>
    <input type="text" name="departure_airport_code" id="departure_airport_code">

    <label for="arrival">Arrival: </label>
    <input type="text" name="arrival_airport_code" id="arrival_airport_code">

    <label for="cost">Cost: </label>
    <input type="text" name="cost" id="cost">

    <label for="purchase date"> Purchase Date: </label>
    <input type="text" name="purchase_date" id="purchase_date">

    <label for="trip date">Trip Date: </label>
    <input type="text" name="date_of_trip" id="date_of_trip">

    <label for="flight hours">Flight Hours: </label>
    <input type="text" name="flight_hour" id="flight_hour">

    <label for="layover hours">Layover Hours: </label>
    <input type="text" name="layover_hour" id="layover_hour">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_itinerary.js"></script>

