
{{!-- NOTE:  all .js and .hbs files were modified from the starter code provided by the following link: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- must have following line in order to use jQuery 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
--}}

{{!-- Create a table --}}
<table id="passenger-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.passenger_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone_num}}</td>
            <td>{{this.birth_date}}</td>
            <td>{{this.address}}</td>
            <td><button onclick="deletePassenger({{this.passenger_id}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_passenger.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new passengers, please enter their information below and click 'Submit'!</p>
<form id="add-passenger-form-ajax">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    
    <label for="email"> Email </label>
    <input type="text" name="email" id="email">

    <label for="phone_num">Phone Num: </label>
    <input type="text" name="phone_num" id="phone_num">

    <label for="birth_date">Birth Date </label>
    <input type="date" name="birth_date" id="birth_date">

    <label for="address">Address </label>
    <input type="text" name="address" id="address">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_passenger.js"></script>


{{!-- Update Implementation --}}
<h2>Update A Passenger</h2>
<p>To update a specific passenger's email, select their name from the drop-down menu on the left side and type in their new email on the right</p>
<form id="update-passenger-form-ajax">
    <label for="input-name">Update: </label>
    <select name="input-name" id="update-selected-name">
        <option value="test">Select a Passenger</option>
            {{#each data}}
            <option value="{{this.passenger_id}}">{{this.name}}</option>
            {{/each}}
    </select>

    <label for="input-name">Change Name: </label>
    <input type="text" name="input-name" id="update-name">

    <label for="input-email">Change Email: </label>
    <input type="text" name="input-email" id="update-email">

    <label for="input-phone-num">Change Phone Number: </label>
    <input type="text" name="input-phone-num" id="update-phone-num">

    <label for="input-birthdate">Change Birth Date: </label>
    <input type="date" name="input-birthdate" id="update-birthdate">

    <label for="input-address">Change Address: </label>
    <input type="text" name="input-address" id="update-address">

    <input type="submit">
</form>
<script src="./js/update_passenger.js"></script>